# Скомпилированные файлы (нам не нужны, у нас есть код)
target/

# Настройки IntelliJ IDEA (у преподавателя свои, твои ему не нужны)
.idea/
*.iml

# Логи (обязательно игнорируем!)
*.log
logs/

# Мусор от Mac OS (если вдруг у тебя или преподавателя Мак)
.DS_Store